/* index css */
header{

    position: sticky;
    top: 0px;
    z-index: 100;
}
#title{
  
    background-color: black;
    display: flex;
     justify-content: space-around;
    align-items: center;
  position: sticky;
  top: 0px;
    height: 50px;
}
#menu{
   position: relative;
   left: 120px;
}
#menu p{
    width: 25px;
   height: 3px;
   background-color: white;
   margin: 4px 0px;
}
.socialWebsites{
     /* border: 1px solid yellow;  */
     display: flex; 
    width:20%;
    
}
.socialWebsites img{
    border-radius: 50%;
    width: 7%;
    padding: 0px 5px;
}
#firstpost{
    position: relative;
    left: 180px;
}

#lens{
    width: 20px;
    padding-left: 30px;
     background-color: black;
}
#title div{
    cursor: pointer;
}
#pages ul{
    display: flex;
    
}
#pages li{
    padding: 2px 5px;
    border-right: 1px solid black;
}
#belowtitle{
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}
#belowtitle p{
    text-align: center;
    padding: 3px 7px;
    font-size: 15px;
   
   
}
#volvo, #crypto{
    background-color: #FF3D1E;
    font-style: arial;
    color: white;
    font-size: 12px;
    margin: 0px 10px;
    padding:3px 4px;
    font-weight: bold;
}
#pages_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#crypto{
    background-color: rgb(5, 76, 104);
   
}
#belowtitle div :hover{
   cursor: pointer;
   
}
#pages li:hover{
    cursor: pointer;
    border-bottom: 2px solid orange;
}
hr{
    background-color: black;  
    height: 5px;   
   }
   /* hedaer css ends here */

   /* footer css starts here */
   #footdiv1{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 65%;
    margin: auto;
    border-bottom: 1px solid blue;
   }
  .socialWebsites2{
    display: flex;
    width: 30%;
    position: relative;
    left: 100px;
    margin: 20px 0px;
    }
 
  .fa-brands, .fa-solid{
    color: white;
      padding: 8px;
      margin: 05px;
       font-size: 150%;
       border-radius: 50%;
       background-color: #FF3D1E;
  }
  #face{
    background-color: blue;
  }
  #tweet{
    color:white;
    background-color: skyblue;
  }
#footdiv1 div :hover{
    cursor: pointer;
}
#footdiv2{
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
}
#topadvert{
    text-align: center;
    margin-top: 20px;
}
a{
    text-decoration: none;
    font-size: 15px;
    font-style: Arial;
}
ul{
    list-style-type:none;
    text-align: left;
}



#footdiv2 div{
    border-right: 1px solid black;
    padding-right: 100px;
}
#networksites{
    width: 65%;
    margin: auto;
    padding: -1px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}
#networksites ul{
    display: flex;
}
#networksites li{
    padding: 2px 5px;
}
#footdiv2 p{
    font-size: 18px;
    font-style: Arial;
    font-weight: bold;
    position: relative;
    left: 30px;
}

#networksites p{
    font-size: 18px;
    font-style: Arial;
    font-weight: bold;
    position: relative;
    left: 30px;
}
#networksites{
    display: flex;
}
#copyright{
    text-align: center;
}
#footerend{
    display: flex;
    justify-content: center;
    margin-top: -20px;
 
}
#footerend ul{
    display: flex;
    position: relative;
    left: -16px;
}
#footerend li{
    padding: 0px 3px;
    font-weight: bold;
   
}
/* footer css ends here */
/* complete news css starts here */
#news{
    border: 1px solid green;
    width: 972px;
    display: flex;
    margin: auto;
}
/* advertisement css start */
#advert{
    border: 1px solid red;
    width: 320px;

}
#newsPart{
    width: 650px;
    /* height: auto; */
 }
#advert2{
    border: 1px solid black;
    height: 320px; }


.main-title{
font: 700 26px/30px 'Playfair Display',sans-serif;
letter-spacing: 0;
color: #000;
margin-top: 10px;
}

.category-name{
font: 400 14px/16px Arial;
color: #585858;
text-transform: uppercase;
position: relative;
padding-right: 5px;
/* z-index: 1; */
padding: -3px 0px;
} 
.headline1{
background-color: white;
position: relative;
top: -150px;
/* border: 3px solid coral; */
width: 90%;
margin: auto;
padding: -5px 0px;
z-index: 0;
padding: 5px 4px;
}
.headline2{
background-color: white;
position: relative;
top: -30px;
/* border: 3px solid coral; */
width: 95%;
margin-left: 2.5%;
padding: 5px 4px;
}
.subscribe{
font: 24px Helvetica,Arial,sans-serif;
}
.signup{
font-size:14px;
color: #A7A4A4;
}
input{
width: 90%;
height: 25px;
margin-left: 5px;
}
button{
background-color: #FAD65F;
color: white;
border: none;
font-size: 20px;
margin: 8px 5px;
font-size: 24px;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
}
.title-txt{
    font: 900 Italic 20px/45px Arial;
color: #000;
text-transform: uppercase;
position: relative;

}
.mostread1{
    width: 320px;
    height: 250px;
    border: 1px solid black;
    
}
.top-title-head{
font: 700 18px/22px 'Playfair Display';
letter-spacing: 0;
color: #000;
margin: 0 0 5px;
max-width: 90%;
}
.top-title-sum{
    font: 400 14px/18px Arial;
letter-spacing: .56px;
color: #000;
/* border-bottom: 1px solid gray; */
}

.story-list{
    border: 1px solid coral;
}
.story-list ul{
   border-bottom: 1px solid gray; 
}
.serial{
    font-size: 35px;
    padding-right: 20px;
}

 /* scrollbar css in news starts here */

 #scrollbox{
    width: 650px;
    height: auto;
    border: 1px solid coral;
    
}
.bigstory{
font: 900 27px/35px Arial;
letter-spacing: 0;
color: #000;
position: relative;
margin-bottom: 15px;
text-transform: uppercase;
text-align: center;
}
.webscroll{
    width: 650px;
    height: 340px;
    border: 1px solid teal;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 0px;
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll-news{
    width:230px;
    text-align: center;
}
.scroll-news img{
    width:220px;
    height: 320px;
   
}
.img-desc{
    font: normal normal bold 15px/21px 'Playfair Display';
color: #000000;
}
.scroll-title{
    font: normal normal normal 12px/14px Arial;
color: #585858;
position: relative;
z-index: 1;
padding-right: 5px;
width: fit-content;
}
.scroll-news-lines{
    border: 1px solid red;
    width: 90%;
    position: relative;
    top: -130px;
    margin: auto;
    background-color: white;
    text-align: justify;
}
/* scroll bar css ends here */
/* trending css starts here */
#trending{
    border: 1px solid coral;
width: 650px;
height: min-content;
border: 1px solid coral;
margin-top: 60px;
}
.bigstory{

display: flex;
flex-direction: column;
align-items: center;
font: 900 27px/35px Arial;
letter-spacing: 0;
color: #000;
position: relative;
margin-bottom: 15px;
text-transform: uppercase;
text-align: center;
}
#trending-news-list{
width: 650px;
height: min-content;
border: 1px solid blue;
display: grid;
grid-template-columns: repeat(2,1fr);
}
.trending-news{
width: 320px;
height: 140px;
display: flex;
border: 2px solid green;
justify-content: space-around;
margin-top: 20px;

}
.trend-headline{
font: 400 14px/16px Arial;
color: #585858;
text-transform: uppercase;
position: relative;
padding-right: 5px;
z-index: 1;
display: inline-block;
}
.trend-brief{
font: Bold 18px/19px 'Playfair Display';
color: #000;
margin: 5px 0 0;
/* max-height: 95px;
min-height: 95px;
overflow: hidden; */
}
.trending-lines{
width:160px;
}