/* index css */
header{

    position: sticky;
    top: 0px;
    z-index: 100;
}
#title{
  
    background-color: black;
    display: flex;
     justify-content: space-around;
    align-items: center;
  position: sticky;
  top: 0px;
    height: 50px;
}
#menu{
   position: relative;
   left: 120px;
}
#menu p{
    width: 25px;
   height: 3px;
   background-color: white;
   margin: 4px 0px;
}
.socialWebsites{
     /* border: 1px solid yellow;  */
     display: flex; 
    width:20%;
    
}
.socialWebsites img{
    border-radius: 50%;
    width: 7%;
    padding: 0px 5px;
}
#firstpost{
    position: relative;
    left: 180px;
}

#lens{
    width: 20px;
    padding-left: 30px;
     background-color: black;
     font-size: 100px;
}
#title div{
    cursor: pointer;
}
#pages ul{
    display: flex;
    
}
#pages li{
    padding: 2px 5px;
    border-right: 1px solid black;
}
#belowtitle{
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}
#belowtitle p{
    text-align: center;
    padding: 3px 7px;
    font-size: 15px;
   
   
}
#volvo, #crypto{
    background-color: #FF3D1E;
    font-style: arial;
    color: white;
    font-size: 12px;
    margin: 0px 10px;
    padding:3px 4px;
    font-weight: bold;
}
#pages_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#crypto{
    background-color: rgb(5, 76, 104);
   
}
#belowtitle div :hover{
   cursor: pointer;
   
}
#pages li:hover{
    cursor: pointer;
    border-bottom: 2px solid orange;
}
hr{
    background-color: black;  
    height: 5px;   
   }
   /* hedaer css ends here */

   /* footer css starts here */
   #footdiv1{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 65%;
    margin: auto;
    /* border-bottom: 1px solid blue; */
   }
  .socialWebsites2{
    display: flex;
    width: 30%;
    position: relative;
    left: 100px;
    margin: 20px 0px;
    }
 
  .fa-brands, .fa-solid{
    color: white;
      padding: 8px;
      margin: 05px;
       font-size: 150%;
       border-radius: 50%;
       background-color: #FF3D1E;
  }
  #face{
    background-color: blue;
  }
  #tweet{
    color:white;
    background-color: skyblue;
  }
#footdiv1 div :hover{
    cursor: pointer;
}
#footdiv2{
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
}
#topadvert{
    text-align: center;
    margin-top: 20px;
}
a{
    text-decoration: none;
    font-size: 15px;
    font-style: Arial;
}
ul{
    list-style-type:none;
    text-align: left;
}



#footdiv2 div{
    border-right: 1px solid black;
    padding-right: 100px;
}
#networksites{
    width: 65%;
    margin: auto;
    padding: -1px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}
#networksites ul{
    display: flex;
}
#networksites li{
    padding: 2px 5px;
}
#footdiv2 p{
    font-size: 18px;
    font-style: Arial;
    font-weight: bold;
    position: relative;
    left: 30px;
}

#networksites p{
    font-size: 18px;
    font-style: Arial;
    font-weight: bold;
    position: relative;
    left: 30px;
}
#networksites{
    display: flex;
}
#copyright{
    text-align: center;
}
#footerend{
    display: flex;
    justify-content: center;
    margin-top: -20px;
 
}
#footerend ul{
    display: flex;
    position: relative;
    left: -16px;
}
#footerend li{
    padding: 0px 3px;
    font-weight: bold;
   
}
/* footer css ends here */
/* complete news css starts here */
#news{
    /* border: 1px solid green; */
    width: 980px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
/* advertisement css start */
#advert{
    /* border: 1px solid red; */
    width: 320px;

}
#newsPart{
    width: 650px;

 }
#advert2{
    /* border: 1px solid black; */
    height: 320px; }


.main-title{
font: 700 26px/30px 'Playfair Display',sans-serif;
letter-spacing: 0;
color: #000;
margin-top: 10px;
}
.big-story{
    font: 700 26px/30px 'Playfair Display',sans-serif;
    letter-spacing: 0;
    color: #000;
    margin-top: 10px;
    }
.category-name{
font: 400 14px/16px Arial;
color: #585858;
text-transform: uppercase;
position: relative;
padding-right: 5px;
/* z-index: 1; */
padding: -3px 0px;
} 
.headline1{
background-color: white;
position: relative;
top: -170px;
/* border: 3px solid coral; */
width: 90%;
margin: auto;
padding: -5px 0px;
z-index: 0;
padding: 5px 4px;
}
.headline3{
    background-color: white;
    position: relative;
    top: -170px;
    /* border: 3px solid coral; */
    width: 90%;
    margin: auto;
    padding: -5px 0px;
    z-index: 0;
    padding: 5px 4px;
    color: red;
    }
.headline2{
background-color: white;
position: relative;
top: -30px;
/* border: 3px solid coral; */
width: 95%;
margin-left: 2.5%;
padding: 5px 4px;
}
.subscribe{
font: 24px Helvetica,Arial,sans-serif;
}
.signup{
font-size:14px;
color: #A7A4A4;
}
input{
width: 90%;
height: 25px;
margin-left: 5px;
}
button{
background-color: #FAD65F;
color: white;
border: none;
font-size: 20px;
margin: 8px 5px;
font-size: 24px;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
}
.title-txt{
    font: 900 Italic 20px/45px Arial;
color: #000;
text-transform: uppercase;
position: relative;

}
.mostread1{
    width: 320px;
    height: 250px;
    border: 1px solid black;
    
}
.top-title-head{
font: 700 18px/22px 'Playfair Display';
letter-spacing: 0;
color: #000;
margin: 0 0 5px;
max-width: 90%;
}
.top-title-sum{
    font: 400 14px/18px Arial;
letter-spacing: .56px;
color: #000;
/* border-bottom: 1px solid gray; */
}

.story-list{
    border: 1px solid coral;
}
.story-list ul{
   border-bottom: 1px solid gray; 
}
.serial{
    font-size: 35px;
    padding-right: 20px;
}

 /* scrollbar css in news starts here */

 #scrollbox{
    width: 650px;
    height: auto;
    /* border: 1px solid coral; */
    
}
.bigstory{
font: 900 27px/35px Arial;
letter-spacing: 0;
color: #000;
position: relative;
margin-bottom: 15px;
text-transform: uppercase;
text-align: center;
}
.webscroll{
    width: 650px;
    height: 370px;
    border: 1px solid teal;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 0px;
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll-news{
    width:230px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.scroll-news img{
    width:220px;
    height: 340px;
   
}
.img-desc{
    font: normal normal bold 13px/21px 'Playfair Display';
color: #000000;
}
.scroll-title{
    font: normal normal normal 12px/14px Arial;
color: #585858;
position: relative;
z-index: 1;
padding-right: 5px;
width: fit-content;
}
.scroll-news-lines{
    /* border: 1px solid red; */
    width: 90%;
    position: relative;
    top: -130px;
    margin: auto;
    background-color: white;
    text-align: justify;
}
/* scroll bar css ends here */
/* trending css starts here */
#trending{

width: 650px;
height: min-content;
/* border: 1px solid coral; */
margin-top: 60px;
}
/* abcdefgh */
#trending-news-list{
width: 650px;
height: min-content;
/* border: 1px solid blue; */
display: grid;
grid-template-columns: repeat(2,1fr);
}
.trending-news{
width: 320px;
height: 140px;
display: flex;
/* border: 2px solid green; */
justify-content: space-around;
margin-top: 20px;

}
.trend-headline{
font: 400 14px/16px Arial;
color: #585858;
text-transform: uppercase;
position: relative;
padding-right: 5px;
z-index: 1;
display: inline-block;
}
.trend-brief{
font: Bold 14.5px/19px 'Playfair Display';
color: #000;
margin: 5px 0 0;
/* max-height: 95px;
min-height: 95px;
overflow: hidden; */
}
.trending-lines{
width:160px;
}
/* border css starts here */
.black-line{
    background-color: black;
     width: 240px;
     height: 1px;
 }
 .yellow-line{
     width: 130px;
     height: 7px;
     background-color: gold;
 }
 .heading-underLine{
    display: flex;
    justify-content: space-between;
    padding: 5px 6px;
}
/* scroll-video-starts from here */
#videos{
    /* border: 1px solid purple; */
    width: 650px;
    height: min-content;
}
/*  */
#scroll-videos-list{
/* border: 1px solid coral; */
width: 650px;
height: min-content;
display: grid;
grid-template-columns: repeat(6,1fr);
gap: 15px;
overflow-x: auto;
overflow-y: hidden;
margin-top: 10px;
}
.scroll-video{
width: 200px;
height: min-content;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
/* border: 1px solid green; */

}
.scroll-video-lines{
font: Bold 18px/19px 'Playfair Display';
color: #000;
margin: 5px 0 0;
padding: 3px;
padding-bottom: 100px;

}
#videos .fa-solid{
    font-size: 35px;
    background-color: black;
    border-radius: 50%;
    color: white;
    position: relative;
    top: -60px;
    left: 20px;
    padding: 0px;
}
/* bottom photos list */
#photos{
    width: 650px;
    height: min-content;
    /* border: 2px solid coral; */
    height: min-content;
    }
    #main-photo{
        /* border: 1px solid blue; */
        width: 650px;
        height: min-content;
    }
    #photos .fa-solid{
        font-size: 45px;
        background-color: black;
        border-radius: 50%;
        color: white;
        position: relative;
        top: -300px;
        left: 20px;
    }
    .sub-photos-list{
        display: flex;
        width: 650px;
        height: 300px;
        /* border: 1px solid pink; */
        justify-content: space-between;
        margin-top: 20px;
        position: relative;
        top: -50px;
    }
    .sub-photo{
        width: 200px;
        height: 300px;
        /* border: 1px solid green; */
    }
        .photo-desc{
            font: normal normal bold 16px/21px 'Playfair Display';
        color: #000000;
        padding: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding-bottom: 80px;
        }
        .photo-title{
            font: normal normal normal 16px/14px Arial;
        color: #585858;
        position: relative;
        z-index: 1;
        padding-right: 5px;
        width: fit-content;
        }


        /* modified css */
        #advert4-img img{
            width: 100%;
        }
       .trading{
        display: flex;
        justify-content: space-evenly;
       }
       .trading button{
        background-color: white;
        color: blue;
        /* border: 1px solid blue; */
        padding: 0px 16px;
        border-radius: 5px;
        font-size: 15px;
       }
       iframe{
        /* border: 2px solid red; */
        margin-top: 10px;
       }
       #months9{
          background-color: teal;
          color: white;
       }
       #advert7{
        text-align: center;
       }
       
       #newsPart{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
       }
    
       #advert7{
        display: flex;
        justify-content: space-around;
    }
    #advert7 div{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .yellow-line1{
         width: 100px;
         height: 5px;
         background-color: gold;
        position: relative;
          top:-20px;
    }
    .yellow-line2{
         width: 80px;
         height: 4px;
         background-color: gold;
        position: relative;
          top:-15px;
    }
    .yellow-line3{
         width: 110px;
         height: 4px;
         background-color: gold;
        position: relative;
          top:-5px;
    }
    .yellow-line4{
         width: 110px;
         height: 4px;
         background-color: gold;
        position: relative;
          top:-15px;
    }


    /* menu bar css staRTS FROM HERE */
    #menubar{
        width: 350px;
        height: 750px;
        /* border: 2px solid coral; */
        background-color: rgb(238, 230, 230);
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 200;
        display: none;
        
    }
    .fa-solid{
        font-size: 10px;
        border-radius: 50%;
        border: 1px solid black;
        padding: 5px;
    }
    .cross-mark{
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid black;
        padding: 3px 10px;
      
    }
    .cross-mark .fa-solid{
        background-color: silver;
    }
    li{
        /* text-align: center; */
        cursor: pointer;
        
font-family: Arial,sans-serif;
    }
    #left-right{
        display: flex;
        
    }
    ul{
        list-style: none;
    
    }
    #left-right li{
        border-bottom: 1px solid black;
       
    }
    #right-menu li{
        font-weight: 300;
        text-align: left;
        font-family: Arial,sans-serif;
       padding-bottom: 15px;
       font-size: 15px;
       
    }
  #left-menu :hover{
    background-color: white;
  }
  #menubar .socialWebsites{
    font-size: 10px;
  }


  /* scroll buttons css starts here */
      .fa-chevron-left{
        background-color: white;
        color: #000;
        font-size: 20px;
       position: relative;
       top: -120px;
       left: -50px;
      }
      .fa-chevron-right{
        background-color: white;
        color: #000;
        font-size: 20px;
       position: relative;
       top: -120px;
       right: -500px;
      }
      .fa-magnifying-glass{
        font-size: 20px; padding-top:10px
      }